<%= render 'scripts' %>
<%= render 'graphics' %>


<div><h2 style="margin-bottom:0px;"><%= @dataset.name %></h2>
</div>
<%= render 'instructions' %>
<div style="float:right;text-align:center;">
Pressure - Voltage<br/>
<canvas id="pres_volt" width="200" height="100" style="border:1px solid #c3c3c3;"></canvas><br /><br />
Pressure - Amperage<br/>
<canvas id="pres_amps" width="200" height="100" style="border:1px solid #c3c3c3;"></canvas><br /><br />
</div>

<div id="<%= @dataset.id %>" class="input_line_container">
<% @data.sort_by! {|d| d.pressure || 1000000}.each_index do |i| %>
<div class="input_line" id="<%= @data[i].id %>"><%= (i+1).to_s+"." %>
<input class="pres" name="#" placeholder="Pressure" type="text" value="<%= @data[i].pressure %>" size="8" style="background-color:#DDD"/>
<input class="volt" name="#" placeholder="Voltage" type="text" value="<%= @data[i].voltage %>" size="8" style="background-color:#DDD"/>
<input class="amps" name="#" placeholder="Amperage" type="text" value="<%= @data[i].amperage %>" size="8" style="background-color:#DDD" />
<input class="dark" name="#" placeholder="DarkSpace" type="text" value="<%= @data[i].darkspace %>" size="8" style="background-color:#DDD" />
</div>
<% end %>
</div>

<div class="pressure_suggestion"></div>
<div style="margin-top:32px;">
<%= form_tag approval_submit_path,method:"put" do %>
Comments<br/>
<%= text_area_tag :comment,@dataset.comment,placeholder:'Please include any relevent comments here',style:"height:80px;width:400px;padding:0;margin:0;" %> <br />
<%= submit_tag "Submit for approval" %>
<% end %>
Admin: <%= link_to action: :approve, controller: :dataset %>
</div>