<%= render 'scripts' %>

<p>Record data for pressure values evenly spaced through the range 100 mTorr to 1300 mTorr. The next suggested pressur will appear below each new datum entry. Take approximately 25 points of data.</p>

<p>Note: If the measured amperage exceeds 25 mA at any time, record necessary values as quickly as possible and then drop the voltage immediately. Prolonged exposure to large currents can damage the electrodes.</p>

<div id="<%= params[:id] %>" class="input_line_container">
<% @data.each do |d| %>
<div class="input_line" id="<%= d.id %>">
<input class="pres" name="#" placeholder="Pressure" type="text" value="<%= d.pressure %>" size="10" style="background-color:#DDD"/>
<input class="volt" name="#" placeholder="Voltage" type="text" value="<%= d.voltage %>" size="10" style="background-color:#DDD"/>
<input class="amps" name="#" placeholder="Amperage" type="text" value="<%= d.amperage %>" size="10" style="background-color:#DDD" />
<input class="dark" name="#" placeholder="DarkSpace" type="text" value="<%= d.darkspace %>" size="10" style="background-color:#DDD" />
</div>
<% end %>
</div>
<div class="pressure_suggestion"></div>