
<%= form_tag change_password_path, method:'put' do %>
<div>
<%= label_tag 'Old password' %>
<%= password_field_tag :old_password %>
</div>
<div>
<%= label_tag 'New password' %>
<%= password_field_tag :password %><br />
<%= label_tag 'Confirmation' %>
<%= password_field_tag :password_confirmation %>
</div>
<%= submit_tag %>
<% end %>

