

<%= form_for @user do |f| %>

<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :email %>
<%= f.email_field :email %>
</div>
<div>
<%= f.label "Password" %>
<%= f.password_field :password_digest %>
</div>
<div>
<%= f.submit %>
</div>
<% end %>