

<div class="span-5 colborder">
<div class="feheader">
  <%= image_tag("home.jpg") %>
</div> 
<div class="sidebar">
  <div class="buttons">
    <b>General</b><br />
    <%= link_to "home","/" %><br />
    <%= link_to "team","/frontend/team"  %><br />
    <%= link_to "gallery","/frontend/gallery"  %><br />
    <%= link_to "publications","/frontend/publications"  %><br />
    <%= link_to "data","/frontend/data"  %><br />

  </div>
 </div>
</div>
