

<div class="span-5 colborder">

<% if current_user %>

  <div class="group_links">
    <b>General</b><br />
    <%= link_to "Home (News)","/" %><br />
    <%= link_to "Change password",change_password_path %>
  </div>
  <div class="group_links">
    <b>Datasets</b><br />
    <%= link_to "Add new", new_dataset_path %><br />
    <%= link_to "Modify existing", datasets_path %>
  </div>
  <% if admin? %>
    <div class="group_links">
      <b>Administrator</b><br />
      <%= link_to "Manage users", users_path %><br />
      <%= link_to "Add news item",new_news_item_path %>
    </div>
  <% end %>
<% else %>
Please log in.
<% end %>
  
</div>
