<!DOCTYPE html>
<html>
<head>
  <title>RubySci</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "blueprint/screen", media:"screen" %>
  <%= stylesheet_link_tag "blueprint/print", media:"print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'shared/flashbang' %>
  <%= render 'shared/header' %>
  <div class="span-22 prepend-1 append-1 main">
    <%= render 'shared/vert-bar' %>
    <%= render 'shared/main-section' %>
  </div>  
  <%= render 'shared/footer' %>
</div>



</body>
</html>
